.App {
  font-family: sans-serif;
  text-align: center;
}
.product-card {
  display: flex;
  width: 160px;
  padding: 5px;
  margin: 5px;
  flex-wrap: wrap;
  border: 1px solid black;
}
.product-img {
  width: 150px;
  height: 150px;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
}
.page-num {
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
  cursor: pointer;
}
.pagination-container {
  padding: 20px;
}
.active{
  background-color: aqua;
}
